
.container
	- if user_signed_in?
		= link_to 'sign_out', destroy_user_session_path, method: :delete
		= link_to 'send invitation', new_user_invitation_path
	- else
		= link_to 'sign_up', new_user_registration_path
		br
		= link_to 'sign_in', new_user_session_path
